h1{
    font-size: 70px;
    text-align: center;
    color: white;
    background-color: #821111;
    margin: 0px;
    padding: 0px;
}



h2{
    font-size: 60px;
}

h3{
    font-size: 50px;
    height: 20px;
}

img{
    height: 500px;
    width: 400px;
    float: left;
    margin-right: 30px;
}

p{
    font-size: 30px;
}

ul>li{
    font-size: 20px;
}

#photo{
    margin-bottom: 300px;
}

#memento{
    margin-bottom: 100px;
}

#wrestler{
    margin-bottom: 100px;
}

footer{
    clear: left;
}